%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "МішаPress", root_path, {class: "navbar-brand"}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to "Pages", admin_pages_path
        %li
          =link_to "Categories", admin_categories_path
        %li
          =link_to "Menus", admin_menus_path
        %li
          =link_to "Types", admin_types_path
